<header>
    <div class="container">
        <div class="navbar-header">
            <a routerLink="/" class="logo">Movie info board</a>
        </div>
        <nav class="navbar navbar-inverse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/">{{appTitle}}</a> </li>
                <li routerLinkActive="active"><a routerLink="/login">{{LoginStat}}</a></li>
                <li routerLinkActive="active"><a routerLink="/favourite">My favourite</a></li>
            </ul>
        </nav>
    </div>
</header>