.gray {
    color: gray;
}

.large {
    font-size: 4em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        background: rgb(238, 238, 238);
        padding: 1em;
        border-radius: 2px;
        margin-bottom: 4px;
        display: grid;
        h3 {
            text-align: right;
        }
        p {
            margin-left: 20px;
            text-align: right;
        }
    }
}